<ion-view>
    <ion-header-bar align-title="center" class="bar-positive">
    <button class="button button-icon icon ion-navicon" menu-toggle="left"></button>
        <h1 class="title">Add Potty Trip</h1>
    </ion-header-bar>

    <ion-content>
        <ul class="list">
            <li class="item item-checkbox">
                 <label class="checkbox">
                    <input type="checkbox">
                </label>
                Wee
            </li>

            <li class="item item-checkbox">
                 <label class="checkbox">
                    <input type="checkbox">
                </label>
                Poo
            </li>
        </ul>
    </ion-content>

    <div class="tabs tabs-positive tabs-icon-only">
      <a class="tab-item" ui-sref="app.home">
        <i class="icon ion-checkmark"></i>
      </a>
    </div>

</ion-view>
