<ion-view>
    <ion-header-bar align-title="center" class="bar-balanced">
    <button class="button button-icon icon ion-navicon" menu-toggle="left"></button>
        <h1 class="title" id="title">Add Potty Trip</h1>
    </ion-header-bar>

    <ion-content>
		<div class="row" id="date-time-bar">
		  <div class="col col-center col-20">
		  	<a class="button button-icon icon ion-ios-calendar-outline"></a>
		  </div>
		  <div class="col col-center">
		    <h4>{{localTripTime  | date:'dd/MM/yy HH:mm'}}</h4>
		  </div>
		  <div class="col col-left col-20">
		    <ionic-timepicker input-obj="timePickerObject">
			  	<a class="button button-icon icon ion-ios-clock-outline overflowShow">
			  		<standard-time-meridian etime='timePickerObject.inputEpochTime'></standard-time-meridian>
			  	</a>
		  	</ionic-timepicker>
		  </div>
		</div>
		<div class="row">
    		<small>(UTC: {{tripTimeUtc  | date:'dd/MM/yy'}} {{tripTimeUtc  | date:'HH:mm'}})</small>
    	</div>


        <ul class="list">
            <li class="item item-checkbox">
                 <label class="checkbox checkbox-balanced">
                    <input type="checkbox" ng-model="trip.isWee" id='is-wee'>
                </label>
                Wee
            </li>

            <li class="item item-checkbox">
                 <label class="checkbox checkbox-balanced">
                    <input type="checkbox" ng-model="trip.isPoo" id='is-poo'>
                </label>
                Poo
            </li>
        </ul>
    </ion-content>

    <!-- Style adjustments needed for bar-footer and buttons to make sure they go to the edges and the icons are not
         bumped off the bottom of the screen. That is what the default bar,bar-footer + button-full combination does. -->
    <span ng-show="isValid(trip)">
        <div class="bar bar-footer" style="padding-top: 0px;padding-bottom: 0px;padding-left: 0px;padding-right: 0px">
            <div class="button-bar">
              <a ng-click="cancelAddTrip()" class="button button-full button-stable" style="margin-top: 0px;margin-bottom: 0px" ui-sref="app.home" id="cancel-trip">
                <i class="icon ion-close"></i>
              </a>
              <a ng-click="addTrip(trip)" class="button button-full button-balanced" style="margin-top: 0px;margin-bottom: 0px" ui-sref="app.home" id="save-trip">
                <i class="icon ion-checkmark"></i>
              </a>
            </div>
        </div>
    </span>

</ion-view>
