<ion-view>
    <ion-header-bar align-title="center" class="bar-balanced">
    <button class="button button-icon icon ion-navicon" menu-toggle="left"></button>
        <h1 class="title">PottyPottyPotty</h1>
    </ion-header-bar>

    <ion-content>
        <div id="hint-text" class="content" ng-hide="pottyTrips.length > 0">
            <i>Welcome! Would you like to add a potty trip?</i>
        </div>
        <ion-list id="potty-trips" type="card" ng-show="pottyTrips.length > 0">
            <ion-item class="item-divider">
            Today
            </ion-item>
            <ion-item ng-repeat="trip in pottyTrips | orderBy:'-timestamp'">

            <div class="item-icon-right">
                <a id="delete-button" class="button button-icon icon ion-ios-close-empty" ng-click="remove(trip)"></a>
            </div>

            <span>{{::trip.typeText}}</span>
            <span><br/>{{::trip.timestampAsLocal | date:'dd/MM/yy HH:mm'}}</span>
            <span ng-show="trip.previousWeeText"><br/>Time since last wee was {{::trip.previousWeeText}}</span>
            <span ng-show="trip.previousPooText"><br/>Time since last poo was {{::trip.previousPooText}}</span>
            </ion-item>
        </ion-list>
    </ion-content>

    <!-- Style adjustments needed for bar-footer and buttons to make sure they go to the edges and the icons are not
         bumped off the bottom of the screen. That is what the default bar,bar-footer + button-full combination does. -->
    <div class="bar bar-footer" style="padding-top: 0px;padding-bottom: 0px;padding-left: 0px;padding-right: 0px">
        <div class="button-bar">
          <a class="button button-full button-balanced" style="margin-top: 0px;margin-bottom: 0px" ui-sref="app.addTrip" id="add-trip">
            <i class="icon ion-plus"></i>
          </a>
        </div>
    </div>

</ion-view>
