<ion-view>
    <ion-header-bar align-title="center" class="bar-positive">
    <button class="button button-icon icon ion-navicon" menu-toggle="left"></button>
        <h1 class="title">PottyPottyPotty</h1>
    </ion-header-bar>

    <ion-content>
        <div id="hint-text" class="content" ng-hide="pottyTrips.length > 0">
            <i>Welcome! Would you like to add a potty trip?</i>
        </div>
        <ion-list id="potty-trips" type="card" ng-show="pottyTrips.length > 0">
            <ion-item ng-repeat="trip in pottyTrips">
            {{trip}}
            </ion-item>
        </ion-list>
    </ion-content>

</ion-view>
