<ion-view>
    <ion-header-bar align-title="center" class="bar-balanced">
    <button class="button button-icon icon ion-navicon" menu-toggle="left"></button>
        <h1 class="title">PottyPottyPotty</h1>
    </ion-header-bar>

    <ion-content>
        <div id="hint-text" class="content" ng-hide="pottyTrips.length > 0">
            <i>Welcome! Would you like to add a potty trip?</i>
        </div>
        <ion-list id="potty-trips" type="card" ng-show="pottyTrips.length > 0">
            <ion-item class="item-divider">
            Today
            </ion-item>
            <ion-item ng-repeat="trip in pottyTrips | orderBy:'-timestamp'">
            <!-- TODO: Improve presentation. Supply text from controller -->
            <span ng-show="trip.isWee">Wee</span>
            <span ng-show="trip.isWee && trip.isPoo"> & </span>
            <span ng-show="trip.isPoo">Poo</span>
            <br/>
            <span>{{trip.timestamp | date:'HH:mm:ss'}}</span>
            </ion-item>
        </ion-list>
    </ion-content>

    <div class="tabs tabs-balanced tabs-icon-only">
      <a id='add-trip' class="tab-item" ui-sref="app.addTrip">
        <i class="icon ion-plus"></i>
      </a>
    </div>

</ion-view>
